<div class="row">
  <div class="video-container" ng-show="article.youtubeList.length > 0">
    <div ng-repeat="youtube in article.youtubeList">
          <iframe width="560" height="315"
            ng-src="{{youtube.url}}" frameborder="0" allowfullscreen></iframe>   
    </div>
    <p>{{article.description}}</p>
  </div>
  <div ng-show="article.imageList.length > 1" 
       style="display: inline-block; overflow: hidden; min-height: {{galleryHeight(article)}}px">
    <carousel interval="3000">
      <slide ng-repeat="slide in article.imageList" active="slide.active">
        <img ng-src="{{slide.path}}" style="max-height: 100%; max-width: 100%; margin: 0 auto;">
        <div class="carousel-caption">
          <p>{{slide.text}}</p>
        </div>
      </slide>
    </carousel>    
    <!--p style="font-color: gray;">{{develInfo}}</p-->
  </div>
  <div class="col-lg-10">
    <div style="margin: 1em; float: right; max-width: 100%" 
         ng-hide="!article.imagePath || article.imageList.length > 1">
      <img ng-src="{{article.imagePath}}" 
           class="article-image">
      <br>
      <div style="font-size: 80%; width: 302px; border-bottom: 1px solid lightgray;">
        {{article.imageCaption}}
      </div>
    </div>
    <h4 style="display: inline-block; min-width: 200px; font-weight: bold;">
      <a href="{{article.link}}">{{article.title}}</a>
    </h4>
    <h6><a href="{{article.link}}">IOL.co.za</a> {{article.pubDate}}</h6>
    <div ng-hide="article.youtubeList.length > 0 && article.paragraphs.length === 1">
      <p ng-repeat="paragraph in article.paragraphs track by $index" ng-bind-html="paragraph">
      </p>
      <hr>
      <div style="font-size: 10pt; margin: 0; font-weight: bold;">
        Read on <a href="{{article.link}}">IOL.co.za</a>
      </div>
    </div>
    <!--div class="addthis_toolbox addthis_default_style addthis_32x32_style" style="margin-bottom: 1em"
         addthis:title="{{article.title}}" addthis:url="http://chronica.co/#article/{{article.articleId}}">
      <a class="addthis_button_twitter"></a>
      <a class="addthis_button_facebook"></a>
      <a class="addthis_button_gmail"></a>
      <a class="addthis_button_google_plusone_share"></a>
      <a class="addthis_button_compact"></a>
      <a class="addthis_counter addthis_bubble_style"></a>
    </div-->
    <div class="addthis_toolbox addthis_default_style" style="margin: 1em 0;"
         addthis:title="{{article.title}}" addthis:url="{{article.link}}">
      <a class="addthis_counter addthis_pill_style"></a>
      <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
      <a class="addthis_button_tweet"></a>
    </div>
    <hr>
  </div>
</div>
