<div class="row">
  <div ng-show="article.youtubeList.length > 0" ng-repeat="youtube in article.youtubeList">
      <iframe width="{{youtube.width}}" height="{{youtube.height}}" 
              ng-src="{{youtube.url}}" frameborder="0" allowfullscreen></iframe>   
  </div>
  <div ng-show="article.imageList.length > 1" style="display: inline-block;">
    <carousel interval="3000">
      <slide ng-repeat="slide in article.imageList" active="slide.active">
        <img ng-src="{{slide.image}}" style="max-height: 100%; max-width: 100%; margin: 0 auto;">
        <div class="carousel-caption">
          <p>{{slide.text}}</p>
        </div>
      </slide>
    </carousel>      
  </div>
  <div class="col-lg-10">
    <div style="margin: 1em; float: right; max-width: 100%" ng-hide="article.imageList.length > 1">
      <img ng-src="{{article.imagePath}}" 
           class="article-image">
      <br>
      <div style="font-size: 80%; width: 302px; border-bottom: 1px solid lightgray;">
        {{article.imageCaption}}
      </div>
    </div>
    <h4 style="display: inline-block; min-width: 200px; font-weight: bold;">
      <a href="{{article.link}}">{{article.title}}</a>
    </h4>
    <h6>{{article.pubDate}}</h6>
    <hr>
    <p ng-repeat="paragraph in article.paragraphs track by $index" ng-bind-html="paragraph">
    </p>
    <hr>
    <div style="font-size: 10pt; margin-bottom: 1em;">
      Read on <a href="{{article.link}}">IOL.co.za</a>
    </div>
  </div>
</div>
