<div class="row" ng-show="articles.length > 0" style="margin-bottom: 0em;">  
  <div class="col-md-6 section-first" 
       ng-hide="!articles[0].imagePath"
       ng-hide="articles[0].imageList.length > 1"
       ng-hide="article.youtubeList.length > 0"
       >
    <a class="section-first-image" href="#/article/{{articles[0].articleId}}"
       ><img ng-src="{{articles[0].imagePath}}"></a>
    <a class="section-first-text" href="#/article/{{articles[0].articleId}}">
      <h1 class="section-heading">{{sectionLabel}}</h1>
      <h4 class="section-first-text-heading">{{articles[0].title}}</h4>
      <p>{{articles[0].description}}</p>
    </a>
  </div>
  <div class="col-md-6 section-first-ad visible-md" ng-if="section === 'lifestyle'">
    <img src="http://aka-cdn-ns.adtech.de/images/458/Ad8927690St1Sz170Sq104123649V0Id2.jpg"
         style="max-width: 100%">
  </div>
  <div class="col-md-6 section-first-ad visible-md" ng-if="section === 'news'">
    <img src="http://aka-cdn-ns.adtech.de/images/219/Ad10582235St1Sz170Sq106080606V0Id6.gif"
         style="max-width: 100%">
  </div>  
</div>
<div class="row" ng-if="articles.length > 0" style="margin-bottom: 1em;">  
  <div class="section-first-youtube" ng-show="articles[0].youtubeList.length > 0">
    <div class="video-container">
      <div ng-repeat="youtube in articles[0].youtubeList">
        <iframe width="560" height="315"
                ng-src="{{youtube.url}}" frameborder="0" allowfullscreen></iframe>   
      </div>
    </div>  
    <h4><a href="#/article/{{articles[0].articleId}}">{{articles[0].title}}</a></h4>
    <div class="section-first-youtube-description" ng-show="articles[0].youtubeList.length > 0">
      <p>{{articles[0].description}}</p>
    </div>
  </div>
</div>
<div class="row" ng-show="articles.length > 0" style="margin: 0; padding: 0;">  
  <div class="col-lg-6" ng-show="articles.length > 1" style="margin: 0; padding: 0;">
    <table class="table table-striped table-condensed section-table">
      <tbody>
        <tr ng-repeat="article in articles track by $index" ng-click="selected(article)"
            ng-if="$index > 0">
          <td style="">
            <div class="article-link">
              <a href="#/article/{{article.articleId}}">{{article.title}}</a>
            </div>
            <div ng-show="article.imagePath" class="article-link-image">
              <img width="125" ng-src="{{article.imagePath}}">
            </div>
            <div class="article-link-image-youtube" 
                 ng-show="!article.imagePath && article.youtubeList[0].thumbnail">
              <img width="125" ng-src="{{article.youtubeList[0].thumbnail}}">
            </div>
            <p class="article-lead">{{article.description}}</p>
          </td>
        </tr>
        <tr>
          <td class="section-ad-embed visible-xs">
            <img src="http://aka-cdn-ns.adtech.de/images/341/Ad10398037St1Sz3055Sq105982172V0Id2.jpg"/>
          </td>
          <td class="section-ad-embed invisible-xs">
            <img src="http://aka-cdn-ns.adtech.de/images/387/Ad10409347St1Sz225Sq106007817V0Id6.gif"/>
          </td>
          <td class="section-ad-embed invisible-xs" ng-if="false">
            <img src=""/>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="view-footer" ng-show="section !== 'top'">
      <span>More on <a href="http://www.iol.co.za/{{section}}">IOL.co.za/{{section}}</a></span>
    </div>
    <div class="view-footer" ng-show="section == 'top'">
      <span>More on <a href="http://www.iol.co.za">IOL.co.za</a></span>
    </div>
  </div>
</div>