<div class="row">  
  <div class="col-lg-8" ng-show="articles.length > 0">
      <table class="table table-striped table-condensed">
      <tbody>
        <tr ng-repeat="article in articles" ng-click="selected(article)">
          <td>
            <div style="margin: 0em; display: inline-block; min-width: 200px;">
              <h5 style="">
                <a href="#/article/{{article.articleId}}" style="font-size: 110%"
                   >{{article.title}}</a>
              </h5>
            </div>
            <div style="margin-right: 1em; max-width: 350px; min-width: 125px; float: left;">
              <img width="125" ng-src="{{article.imagePath}}">
            </div>
            <p style="font-family: sans-serif">
              {{article.description}}
            </p>
          </td>
        </tr>
      </tbody>
    </table>    
  </div>
</div>